.hiring-wrap {
	background-color: $brandColor;
	color: $white;
	h2 {
		color: $white;
	}
	.image-wrap {
		height: 500px;
		@include breakpoint(lg) {
			height: unset;
		}
	}
}
.hiring {
	.hiring-inner {
		padding: 2.5em 1em;
		.jobs {
			list-style-type: none;
			li {
				padding: 10px 0;
				a {
					padding: 2px 0;
				}
			}
		}
	}
}
