.testimonials {
	margin-bottom: 30px;
}

.testimonial-wrap {
	background-color: $lightGrey;
	border-top: 5px solid $brandColor;
	margin: 0 auto 1em;
	max-width: 60ch;

	@include breakpoint(md) {
		margin: 1em;
	}
}

.testimonial {
	padding: 1em;

	svg {
		width: 65px;
		height: 65px;
	}
}
