.random-list__image-wrapper {
  padding-bottom: 25%;
  position: relative;
}

.random-list__image-wrapper img {
  position: absolute;
  width: 100%;
  height: 3.75rem;
  left: 50%;
  transform: translateX(-50%);
}

.random-list__image-wrapper img:last-of-type {
  opacity: 0;
}