/*******************************************************************
Color Variables
*******************************************************************/
$brandColor: #137241;
$accentColor: #d5ebd6;
$secondaryBrandAccent: #0c3821;
$black: #010201;
$darkGrey: #201c29;
$lightGrey: #f7f7f7;
$white: #ffffff;
$transparent: rgba(0, 0, 0, 0);
/*******************************************************************
Font Variables
*******************************************************************/
$primaryFont: "Sarabun", sans-serif;
$secondaryFont: "Satisfy", cursive;

$shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.2);
$shadowDark: 0 5px 35px 0 rgba(0, 0, 0, 0.4);
