.forminator-custom-form-728 {
	.forminator-button-submit {
		display: none !important;
	}
	label {
		font-size: 18px !important;
		font-weight: 500 !important;
		margin-bottom: 5px !important;
	}
	.forminator-number--field,
	.forminator-calculation {
		width: 97% !important;
	}
}
