.error-404 {
  ul {
    padding: 0;
  }

  .menu-item {
    list-style-type: none;

    a {
      font-family: $primaryFont;
      font-weight: 700;
      color: $brandColor;
      padding: 10px;
      font-size: 1.15rem;
      letter-spacing: 2.5px;
    }
  }

  .external a {
    justify-content: flex-end;
  }
}