img,
iframe {
	display: block;
	max-width: 100%;
	height: auto;
}
.image-wrap {
	position: relative;
}
.cover-image,
.background-image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.background-image {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: block;
}
.background-image img {
	-o-object-fit: cover;
	object-fit: cover;
	height: 100%;
	width: 100%;
	position: relative;
}
